.card {
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.img {
  width: 40%;
  height: 10%;
  border-radius: 15px;
  margin-right: 9px;
  margin-bottom: 10px;
}
.details {
  width: 50%;
}

.buttom {
  display: flex;
  flex-direction: row;
}
