.card {
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.head {
  font-family: monospace;
  font-weight: 0.01rem;
  color: rgb(17, 15, 15);
}
.img {
  width: 40%;
  height: 10%;
  border-radius: 15px;
  margin-right: 9px;
  margin-bottom: 10px;
}
.details {
  width: 50%;
}

.buttom {
  display: flex;
  flex-direction: row;
}
